@model HomeWork2.Models.Movie

@{
    ViewData["Title"] = "Details";
    ViewData["PageTitle"] = "MOVIE DETAILS";
    ViewData["ShowAddButton"] = false;
    ViewData["ShowBackButton"] = true;
}

<section class="box">
    <div class="header-box">
        <div class="details-title">@Model.Title</div>
        <img class="details-posterUrl" src="@Model.PosterUrl" alt="Movie Poster">
        <div class="details-rating">@Model.Rating</div>
        <div class="details-year">@Model.Year</div>
    </div>
    <div class="details-description">@Model.Description</div>
    <div class="button-container">
        <button>Edit</button>
        <button>Delete</button>
    </div>
</section>
