@model IEnumerable<HomeWork2.Models.Movie>

@{
    ViewData["Title"] = "Movie";
    ViewData["PageTitle"] = "LIST OF TOP RATING MOVIES OF ALL TIMES";
    ViewData["ShowAddButton"] = true;
    ViewData["ShowBackButton"] = false;
}

@foreach (var movie in Model)
{
    <div class="item" data-movie-id="@movie.Id">
        <div class="posterUrl" style="background-image:url(@movie.PosterUrl");></div>
        <div class="rating">@movie.Rating</div>
        <div class="title">@movie.Title</div>
        <div class="year">@movie.Year</div>
    </div>
}
<footer></footer>
<script src="~/js/movie.js"></script>
